/**
 * Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com>
 **/

/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}


/*****----- Global Properties -----*****/
@import                          "shared/colors.rasi"
@import                          "shared/fonts.rasi"
@import							 "shared/common.rasi"


/*****----- Inputbar -----*****/
prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}

textbox-prompt-colon {
    str:                         " Clippy";
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   true;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
}
