@import							 "catppuccin-mocha.rasi"

* {
    background:     @base;
    background-alt: @crust;
    foreground:     @text;
    selected:       @peach;
    active:         @yellow;
    urgent:         @maroon;
}
